.header {
  background-color: #41cbe0;
  text-align: center;
}

.logo {
  border-radius: 50%;
  padding-top: 10px
}

.main {
  text-align: center;
  padding-bottom: 5px;
  font-family: 'Raleway', sans-serif;
}

.footer {
  background-color: #41cbe0;
  vertical-align: middle;
  text-align: center;
  padding: 15px;
}
